/* * */
*{
    box-sizing: inherit;
}

html{
    /* 100% => 16px */
    /* 62.5% => 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
}

/* root */
:root {
    --white-color: #fff;
    --black-color: #000;
    --star-gold-color: #fece3d;
    --success-color: #01c851;
    --error-color: #fe4543;
}
.success-color {
    color: var(--success-color);
}

.error-color {
    color: var(--error-color);
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center{
    align-items: center;
}


.heght-full{
    height: 100%;
}
.width-full{
    width: 100%;
}

.width-85{
    width: 85%;
}

/* gird - row - col */
.gird {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.gird__full-width{
    width: 100%;
}

.gird__half {
    width: 50%;
}

.gird__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.gird__row-admin {
    display: flex;
    flex-wrap: wrap; 
}

.gird__row-full-width {
    display: flex;
}

.gird__col-3{
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
}

.gird__col-9 {
    width: 75%;
    padding-left: 5px;
    padding-right: 5px;
}

.gird__col-9-3{
    width: 33.33334%;
    padding-left: 5px;
    padding-right: 5px;
}

.gird__col-2-4{
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;     
}

.gird__18{
    width: 18%;
}

.gird__82{
    width: 82%;
}

/* margin */
.mr-15 {
    margin-right: 15px;
}
.ml-15 {
    margin-left: 15px;
}
.mt-15 {
    margin-top: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mt-80 {
    margin-top: 80px;
}
.mb-80 {
    margin-bottom: 80px;
}

.mb-0{
    margin-bottom: 0;
}
/* padding */
.pl-10{
    padding-left: 10px;
}
.pr-10{
    padding-right: 10px;
}

.pr-15{
    padding-right: 15px;
}
/* icon */
.icon__agle-down {
    margin: 0 15px 0 6px;
}   

/* border */
.border-right {
    border-right: 1px solid rgba(0,0,0,.14);
}
.border-left {
    border-left: 1px solid rgba(0,0,0,.14);
}
/* font-size */
.fz-1-1{
    font-size: 1.1rem;
}

.lh-1{
    line-height: 1;
}

/* other */
.text-center{
    text-align: center;
}