/******************************************************* 
*                                                      *
*                        header                        *
*                                                      *
********************************************************/
.header {
    width: 100%;
}

/******************************************************* 
*                                                      *
*                        top-header                    *
*                                                      *
********************************************************/
.topheader {
    height: 40px;
    background-color: #222222;
}
.topheader-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* left */
.topheader__left {
    display: flex;
}

.topheader__left-languages-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topheader__left-link-languages,
.topheader__left-link-unit {
    color: #999;
    opacity: 0.8;
    text-decoration: none;
    position: relative;
}

.languages-has-option:hover .topheader__left-language-list {
    display: block;
}

.topheader__left-language-list {
    display: none;
    position: absolute;
    top: 44px;
    background-color: var(--white-color);
    padding-left: 0;
    list-style-type: none;  
    margin: 0;
    box-shadow: 1px 1px 4px rgba(136, 136, 136, 0.2);
    z-index: 10;
}

.topheader__left-language-list::after {
    content: "";
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -30px;
    z-index: -1;
}

.topheader__left-language-item-link {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #888;
    padding: 10px 20px;
    text-transform: uppercase;
}

.topheader__left-language-item-link:hover {
    background-color: rgba(153, 153, 153, 0.3);
}

.topheader__left-language-item-icon {
    margin-right: 6px;
}

.topheader__left-languages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topheader__left-languages-icon {
    font-size: 1.4rem;
    margin-right: 6px;
}

.topheader__left-languages-text {
    font-size: 1.2rem;
}

.topheader__left-unit {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 15px;
}
.topheader__left-unit::before {
    content: "";
    position: absolute; 
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    border-left: 1px solid rgba(136, 136, 136, 0.2);
}
.topheader__left-unit-text {
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* right */
.topheader__right {
    display: flex;
    margin: 0;
}

.right__item:last-child {
    border-right: 1px solid rgba(136, 136, 136, 0.2);
}

.right__item {
    list-style-type: none;
    padding: 0 20px;
    border-left:1px solid rgba(136, 136, 136, 0.2);
}

.right__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #999;
    opacity: 0.8;
}

.has-option:hover .right__item__select{
     display: block;
}

.right__item__option:hover li,
.right__item-link:hover .right__item-text {
    color: #e34444;
    transition: all 0.150s ease-in;
}

.right__item-icon {
    margin-right: 10px;
}

.right__item__select{
    display: none;
    position: absolute;
    top: 28px;
    right: -22px;
    background-color: var(--white-color);
    list-style-type: none;
    padding: 0;
    white-space: nowrap;
    box-shadow: 1px 1px 4px rgba(136, 136, 136, 0.2);
    z-index: 10;
}
.right__item__select::after {
    content: "";
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -30px;
    z-index: -1;
}

.right__item-content {
    position: relative;
}

.right__item__option{
    display: block;
    opacity: 0.8;
    font-size: 1.2rem;
    text-decoration: none;
    color: #888;
    padding: 10px 20px;
    text-transform: uppercase;
    min-width: 110px;
    flex-wrap: nowrap;
}

.right__item__option:hover {
    background-color: rgba(153, 153, 153, 0.3);
}

.right__item-link-text{
    display: flex;
}

/******************************************************* 
*                                                      *
*                    center-header                     *
*                                                      *
********************************************************/

/* logo */
.centerheader__logo {
    min-width: 200px;
}

.centerheader__logo-link {
    text-decoration: none;
}

.centerheader__logo-img {
    width: 220px;
    height: 110px;
}

.centerheader__widget-content{
    align-items: center;
}

.centerheader__widget-item-link {
    text-decoration: none;
    color: #666;
}

.centerheader__widget-item {
    display: flex;
    align-items: center;
}

.centerheader__widget-item:hover .centerheader__widget-item-icon {
    background-color: #e34444;
    color: var(--white-color);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.centerheader__widget-item-icon {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 50%;
    padding: 14px;
    margin-right: 10px;
}

.centerheader__widget-item-text {
    line-height: 1.4;
}

.centerheader__widget-item-heading {
    font-size: 1.4rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.centerheader__widget-item-sub {
    font-size: 1.2rem;
    letter-spacing: 1px;
    opacity: 0.8;
}


/******************************************************* 
*                                                      *
*                        nav                           *
*                                                      *
********************************************************/
.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dashed rgba(0, 0, 0, 0.2 );
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2 );
}

.nav__list {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.nav__item {
    text-transform: uppercase;
    padding: 20px 0;
    margin-right: 25px;
    position: relative;
}   

.nav__item-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav__item-link:hover {
    color: #f13123;
    transition: all 0.3s ease;
}

.nav__search {
    /* display: flex;
    align-items: center; */
    position: relative;
}

.nav__search-input {
    font-size: 1.4rem;  
    width: 200px;
    padding: 6px 10px 6px 10px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    outline: none;
}

.nav__search-input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 1.4rem;
    transform: translateY(-50%);
}

.subnav__list {
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    min-width: 190px;
    background-color: var(--white-color);
    padding-left: 0;
    z-index: 1;
    box-shadow: 5px 10px 18px rgba(255, 255, 255, 0.5);
    display: none;
}

.subnav__item {
    position: relative;
    list-style: none; 
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subnav__item-link {
    text-decoration: none;
    display: block;
    display: flex;
    padding: 15px 25px;
    font-size: 1.4rem;
    color: #9A9A9A;
    letter-spacing: 2px;
}

.nav__item:hover .subnav__list {
    display: block;
}


/******************************************************* 
*                                                      *
*                        Slider                        *
*                                                      *
********************************************************/
.slider {
    margin: 32px 0 26px;
}
/* slider-left */
.slider__left {
    width: 100%;
    height: 100%;
    padding-right: 16px;
}

.slider__left-img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2 );
    position: relative;
}

.quantity__slider-left {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* slidershow */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* slider-right */
.slider__right {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}
/* top */
.slider__right-top {
    height: 257px;
    width: 100%;
    margin-bottom: 15px;
}

.slider__right-top-img {
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position:top center;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2 );
}

/* bottom    */
.slider__right-bottom {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.slider__right-bottom-img {
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2 );
}

/******************************************************* 
*                                                      *
*                        content                       *
*                                                      *
********************************************************/
/* heding-content */
.content__heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    margin: 26px 0 0 0;
}
.content__heading-text {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
}

/* list favorite product */
.product-item {
    padding-left: 10px;
    padding-right: 10px;
}

.home-product,
.favorite-product {
    margin: 15px 0;
}
.home-product__item,
.favorite-product__item {
    margin: 26px 0 0;
    text-decoration: none;
    padding: 10px;
    color: #666;
    display: block;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}
/* background */
.home-product__item-img,
.favorite-product__item-img {
    padding-top: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* img */
/* .home-product__item-img,
.favorite-product__item-img{
    display: block;
    width: 100%;
} */
.home-product__item-content,
.favorite-product__item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-product__item-name,
.favorite-product__item-name {
    font-size: 1.2rem;
    padding: 12px 0 5px 0;
}

.home-product__item-price,
.favorite-product__item-price {
    font-size: 1.6rem;
    counter-reset: #333;
    padding: 5px 0 8px;
}


.favorite-product__item__rank {
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-bottom: 12px;  
}

.home-product__item__star--gold,
.favorite-product__item__star--gold {
    color: var(--star-gold-color);
}

/* list-brand */
.brand__list {
    margin-top: 40px;
    border-top: 1px solid black;
    padding: 20px 15px 25px;
}

.brand__item {
    width: 100%;
}

.brand__item-img {
    padding-top: 106px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* footer */
.footer-top {
    background-color: #f8f8f6;
}

.footer-top__heading {
    font-size: 1.8rem;
    color: #333;
    margin: 0;    
    margin: 55px 0 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-top__list {
    list-style-type: none;
    padding: 0;
}
.footer-top__item-link {
    text-decoration: none;
    color: #555;
}
.footer-top__item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.footer-top__item-icon {
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid #eaeaea;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}

.footer-top__item-content {
    font-size: 1.35rem; 
    color: #555;
}

.footer-top__item-text {
    line-height: 1.5;
}

.submit-email__text {
    font-size: 1.35rem;
    color: #555;
}

.submit-email__input {
    width: 100%;
    font-size: 1.4rem;
    padding: 6px 10px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #eaeaea;
    margin:16px 0 20px;
}

.submit-email__btn {
    font-size: 1.4rem;
    min-width: 80px;
    padding: 4px 8px;
    border-radius: 30px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    float: right;
    color: #444;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    font-size: 1.2rem;
    color: #666;
    background-color: var(--white-color);
}

